<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 | 诸葛io 实验室</title>
    <style>
    .zg_404 {
    text-align: center;
    margin-top: 40px;
    }

    .zg_404word {
    color: #999999;
    font-size: 24px;
    text-align: center;
    margin-top: 160px
    }

    .zg_404bottom {
    position: fixed;
    font-size: 16px;
    left: 50%;
    text-align: center;
    bottom: 50px;
    margin-left: -60px;
    }

    .zg_404bottom a {
    display: inline-block;
    margin-top: 10px;
    }

    .zg_video {
    padding-bototm: 10px;
    margin-bottom: 10px;
    }
    </style>
</head>

<body class="shenqing-bg">

<div class="zhuge_contentinner">
<div class="zg_404">
<img src="https://static.zhugeio.com:443/images/sprites/404.png?62" alt="" />
</div>
<div class="zg_404word">你好像迷失在了Kepler 452b…</div>
<div class="zg_404bottom">
<img src="https://static.zhugeio.com:443/images/sprites/404-1.png?62" alt="" /><br />
</div>
</div>

</body>
</html>